# Google Apps Script Deployment URL
# This is the URL provided after deploying your App Script project as a Web App
VITE_GAS_URL=https://script.google.com/macros/s/YOUR_APPS_SCRIPT_DEPLOYMENT_ID/exec

# The email where the lead capture notifications should be directed
VITE_ADMIN_EMAIL=gowigro@gmail.com
