# Google Apps Script Deployment URL
# This is the URL provided after deploying your App Script project as a Web App
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbw0B8Jk80lOCp7l4P99LkN39ZVyj7I2iasHngNv7QTlFHAro_nT5NoBwUEboTgzTFl0YA/exec

# AKfycby8xbX1CRp2Nv64r5BGVj5V5pw3Iw766BMSjTmitWot-WOd6X6pcADOSbixYpA2VVfYyA
# The email where the lead capture notifications should be directed
VITE_ADMIN_EMAIL=alisabir97570@gmail.com